@{
    Layout = null;
    ViewBag.Title = ViewBag.UserName + " - 个人首页";
    var chapterList = ViewBag.ChapterList as List<SharePlat.Model.Chapter>;
    var userName = ViewBag.UserName;
}
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="/css/blog-common.css?v=8F6jO9aWZhOryqKsIFGUkSbXpyPVKDwgWwvpie3eJis1" />
    <link id="MainCss" type="text/css" rel="stylesheet" href="/css/bundle-BOOK.css?v=DaIdaa-2GlCJY57BeysMEAHbKkfdzZNJbosbSdqmsv41" />
    <script src="/Scripts/jquery.js"></script>
    <script type="text/javascript">var currentBlogApp = 'miaosha5s', cb_enable_mathjax = false;</script>
    @*<script src="/bundles/blog-common.js?v=ceHMEpeJXcR_f7TCJnXeZQRG1UsC0_cpwDJRs_oVInY1" type="text/javascript"></script>*@
</head>
<body>
    <a name="top"></a>
    <div id="header">
        <div id="HeaderTitle">
            <div id="Title">
                <a id="Header1_HeaderTitle" class="headermaintitle" href="/@ViewBag.UserName">@ViewBag.UserName</a>
            </div>
            <div id="subTitle"></div>
        </div>
    </div>
    <div id="main">
        <div><a href="/UserZone/AddOrEditChapter">新增文章</a></div>
        <div id="post_detail">
            <div class="post">
                @{
                    foreach (var chapter in chapterList)
                    {
                        string showContent = chapter.Content;
                        if (showContent.Length > 100)
                        {
                            showContent = showContent.Substring(0, 100);
                        }
                    <h2>
                        <a id="ctl01_TitleUrl">@chapter.Title</a>
                    </h2>
                    <div id="cnblogs_post_body">@Html.Raw(showContent)...</div>
                    <p class="postfoot">
                        posted @@ @chapter.PostDate @userName 
                        <a href="/UserZone/AddOrEditChapter?id=@(chapter.Id)&pagenum=@(ViewBag.CurrentPage)">编辑</a>
                    </p>
                    }
                }
            </div>
        </div>
        <div id="homepage1_HomePageDays_homepage_bottom_pager" class="topicListFooter">
            <div class="pager">
                @Html.Raw(SharePlat.Common.CommonHelper.Pager("/" + ViewBag.UserName + "?pagenum={pagenum}", 
                ViewBag.TotalSize, ViewBag.PageSize, ViewBag.CurrentPage))
            </div>
        </div>

        <p id="footer">
            Powered by: 
            <a id="Footer1_Hyperlink3" name="Hyperlink1" href="http://www.cnblogs.com/" style="font-family: Verdana; font-size: 12px;">SharePlat</a>
            <br />
            Copyright &copy; @ViewBag.UserName
        </p>
    </div>
</body>
</html>
